{% import "pd_includes/profdev_macros.html" as pm %}
<div class="card">
    <div class="card-header">
        <h4>Important lessons</h4>
    </div>
    <div class="card-body">
        <ul class="list-group m-0">
            <li class="list-group-item px-2 mx-0">
                <h6><b>EC's can be a motivator, but also a constraint.</b></h6>
                <p><q>One often does what they need to do and nothing more.</q></p> 
                <p>EC's can be a great motivation, since you are forced to do the thing.
                But because of you being forced, it is much more diffucult to own what you make.</p>
            </li>

            <li class="list-group-item px-2 mx-0">
                <h6><b>Knowing people can only help you.</b></h6>
                <p>Sometimes it might feel difficult(and even scary) to get to know people, but the more people you network with the better.
                In the worst case, when a person does not like you, they will most often just ignore you.
                </p>
            </li>

            <li class="list-group-item px-2 mx-0">
                <h6><b>It is okay to ask for help.</b></h6>
                <p>
                    <b>This one is important!!!</b>
                    It is the same as with meeting new people. 
                    If you need help, you need help, and the worst thing the other person can do is to refuse.
                </p>
            </li>
        </ul>  
         
    </div>
</div>
