{% import "pd_includes/profdev_macros.html" as pm %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Self discovery</h4>
        <h6 class="card-subtitle">What profdev uncovered about me?</h6>
    </div>
    <div class="card-body">
        <p>
        Well, despite of the low amount of time you actually spend on ProfDev,
        you learn a lot about yourself. This is what i learned: 
        </p>
        <ul class="list-group m-0">
            <li class="list-group-item px-2 mx-0">
                <div class="row">
                    <div class="col-lg-7"> 
                        <h6><b>Random bullshit go!!</b></h6>
                        <p>
                            I discovered that I am really good on making things up as I go.
                            Despite always wanting some plan set up, I quickly pivot away from the original plan.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/static/img/pd_bs.jpg"class="w-100">
                    </div>
                </div>
            </li>
            
            <li class="list-group-item px-2 mx-0">
                <div class="row">
                    <div class="col-lg-7"> 
                        <h6><b>Information Sponge</b></h6>
                        <p>
                        Despite my belief that I'm no smarter than pile of rocks.
                        My memory can hold a lot. It is not fully reliable but I remember a lot, quickly.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/static/img/big_brain.webp"class="w-100">
                    </div>
                </div>
            </li>
            
            <li class="list-group-item px-2 mx-0">
                <div class="row">
                    <div class="col-lg-7">
                        <h6><b>Sharp focus</b></h6>
                        <p>When I am able to focus on anything(which can be hard), there is a slim chance 
                        I stop focussing on it until it's done or I can't work on it anymore.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div style="width:100%;height:0;padding-bottom:78%;position:relative;"><iframe src="/static/ttps://giphy.com/embed/lCbSAbRrFEfkY" width="100%" height="100%" style="position:absolute" frameBorder="0"class="giphy-embed"allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/lCbSAbRrFEfkY">via GIPHY</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
