{% import "pd_includes/profdev_macros.html" as pm %}
<div class="card">
    <div class="card-header">
        <h4>Some juicy ProfDev Tips</h4>
    </div>
    <div class="card-body">
        <ul class="list-group m-0">
            <li class="list-group-item px-2 mx-0">
                <h6><b>Start on time</b></h6>
                <p><q>The best way to finish something is to start it.</q> -me</p> 
                <p>You always end up busier at the end of the module than you expect. 
                Use the downtime in the beginning to start on ProfDev and you will finish in no time with no stress.</p>
            </li>

            <li class="list-group-item px-2 mx-0">
                <h6><b>It is okay to skip or fail.</b></h6>
                <p>If you think you don't have time to stress about ProfDev in the first two quartiles, you can just skip profdev and do it during your minor(As long as you stay in Enschede with the study)</p>

            </li>

            <li class="list-group-item px-2 mx-0">
                <h6><b>Module 5 is everything besides chill.</b></h6>
                <p>Adding into the previous tip. Module 5 is really difficult, even if you choose Interactive Media 
                (Which is considered easier, but it depends.) So don't bite off more than you can chew!
                </p>
            </li>
        </ul>  
    </div>
</div>
