$white: #fff;
$gray-100: #85918F;
$gray-200: #485A57;
$gray-300: #394C49;
$gray-400: #2A3E3B;
$gray-500: #233734;
$gray-600: #1B302D;
$gray-700: #132926;
$gray-800: #0F2622;
$gray-900: #0B221E;
$pink: #ae3a76;
$primary: $pink;
$teal: #6cc199;
$purple: #8a60a1;
$secondary: $teal;
$body-bg: $gray-800;
$body-color: $white;
$link-color: $primary;
$spacer: 0.9rem;
$success: $teal;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$enable-gradients: true;
$enable-shadows: true;
$border-color: $gray-100;
$input-bg: $gray-900;
$input-border-color: $gray-200;
$input-color: $gray-200;
$component-active-color: $gray-100;
$pagination-hover-bg: $gray-100;
$nav-tabs-link-active-color: $teal;
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $teal;
$nav-tabs-link-active-border-color: $teal $teal $teal;
$dropdown-bg: darken($secondary, 50);
$dropdown-color: $white;
$dropdown-border-color: $teal;
$dropdown-link-color: $white;
$pagination-bg: $gray-900;
$pagination-color: lighten($link-color, 30);
$pagination-border-color: $teal;
$pagination-hover-border-color: $gray-600;
$pagination-disabled-color: $gray-200;
$pagination-disabled-bg: $gray-700;
$card-bg: $gray-700;
$jumbotron-bg: $gray-700;
$popover-bg: $gray-700;
$list-group-bg: darken(desaturate($primary,50%), 30%);
$input-disabled-bg: $gray-600;
$custom-select-disabled-bg: $teal;
$progress-bg: $gray-500;
$modal-content-bg: $gray-600;
$input-group-addon-bg: $secondary;
$breadcrumb-bg: darken($teal, 20);
$breadcrumb-divider-color: $gray-100;
$breadcrumb-active-color: $gray-100;
$table-bg-level: 2.5;
$card-border-width: 3px;

