<section>
    <h2>
		Remote code for controlling a threaded robot.
	</h2>
	<div class="FlexRow">
        <div style="flex: 1;">
            <div class="fitToContent">
        <img src="/static/img/pws.jpg"alt="A tank-like robot should be seen here"width="400">
        </div>
            <span><small>Photo and robot construction by B. Wever</small></span>
        </div>
        <div style="flex: 1;">
            <p>
            This was made for our Graduation Project (PWS). Me and a friend of mine, who is currently enrolled at Saxion in Enchede decided to make a robot.
            I was in charge to write the <a class="InText" href="https://github.com/Wilkuu-1/PWS-DefuseBot">code</a> to control the robot. As we used a raspberry pi I did't have to write really low level stuff, so I went with python with this project, which backfired extremely hard when it came to actually sending video. Rewriting the code with my newfound experience in C++ is one of the things on my TODO list. The robot is not fully tested yet but this is subject to change. 
            </p>
        </div>
    </div>
    <footer>
        <small>Project was on-going from late 2020 till march of 2021 <br>
        Posted on: 15-10-2021</small>
    </footer>
</section>

