	
    <section>
			<h2> Programming Project, Creature(s)</h2>
			<div class="FlexRow">
				<section>
					<p>This project is a program made by me for an Programming assingment. But it also functioned as a way for me to relearn how programming in java worked (We did processing which is java based), as I did a program in java a few years ago. This lead to doing as much OOP as possible, surpassing what was expected of the assignment. I ended up with 14 processing tabs (around 4 was expected) and a pure java library handling events. My creature was a snake (Or a dragon, depends on how one sees it), that would move randomly, but also be controlled using the mouse when that particular creature was selected. The project included classes for procedurally generated colors and a wrapper class for drawing a sprite. Each segement of the snake was it's own object as well.
					</p>
										</section>
				<section class="fitToContent">
					<img src="/static/img/creature.png"alt="RIP"width="400">
				</section>
			</div>
			<h3>The old almost-project</h3>
				<p>
					<b>So what was the previous thing I did in java?</b> It was trying to make a basic minecraft mod. I wanted to put a block, and an item inthe game. I used Forge, a popular mod loader at the time. This project was rather a test of patience and my inteligence, as i didn't know java in the slightest, i just knew some python which didn't translate that well. I started off by just copying code and trying to understand what it meant. I didn't get that far because I wasn't as experience in traversing or applying a foreingn codebase to that kind of a degree, and some tutorials were outdated.
				</p>
				<footer>
					<small>The creature project was on-going between 8-9-2021 and 10-10-2021<br>
					Posted on: 21-10-2021</small>
				</footer>
    </section>


