	
    <section>
			<h2>Video project</h2>
			<p>
				Today we finished our video project. Me along with 5 others made a interactible video about a small piglet which has to learn to interact with strangers.
				<!--<a class="InText" href="./videoProject/VPDisplay.html">Click here to view the video</a>-->
				<br><b>See it for yourself</b>
			</p>
				<embed type="text/html" src="/static/assets/videoProject/VPDisplay.html"width="700"height="400"> 

				<h4>Music and sounds used</h4>
				<ul>
					<li><a href="https://freesound.org/people/cannonproductions/sounds/555635/">Shed Door</a></li>
					<li><a href="https://www.chosic.com/download-audio/27012/">Friends montage</a></li>
					<li><a href="https://pixabay.com/music/introoutro-drone-9708/ ">City Suspense + chase</a></li>
					<li><a href="https://pixabay.com/music/pulses-the-last-october-day-3915/">Forest suspense</a></li>
					<li><a href="https://pixabay.com/music/modern-classical-eosforos-8398/ ">Ending song, first part</a></li>
					<li><a href="https://pixabay.com/music/beautiful-plays-motivational-anthem-9709/">Ending song, second part </a></li>
				</ul>
				<footer>
					<small>The projet was going on between 10-9-2021 and 1-11-2021<br>
					Posted on: 05-11-2021</small>
				</footer>
   </section>


