	
		<section>
			<h2>Learning C++</h2>
			<p>At the moment of writing, I am gradually learning C++ from <del>scratch</del>. Or almost from scratch, because I know how to program and i seen and did some simple C++ before. Though, nothing beats a course when it learns to getting a grip on something sometimes. And this is one of those occurances when my confidence and knowledge were definitely needing this for a long time. <br>
			I learned how to code in CodeLite, which is definetely more comfy than neovim which I am using to write this article, but adding libraries was never so difficult, that is the only pet peeve I have with this IDE, and maybe it works better on Windows, not that would be any use for me...<br>
				Right next to the course I decided to learn how to use libraries, I chose QT for this, even though I also tried to use Yue, which would probably work out in some way if I put another few hours of effort that i didn't have. I will see if I can get that up and running, otherwise, I am just switching back to my trusty command line text editor.  
			</p>
			<a href="https://www.github.com/Wilkuu-2/QT-Tests">..Github link to the QT projects..</a><br><br>
		<footer>
			<small>The project was going on between 2-12-2021 and is ongoing<br>
			Posted on: 23-01-2022</small>
		</footer>
		</section>
		<section class="fitToContent">
			<img src="/static/img/coldelite.png"alt="Some CodeLite Screenshot"width="600">
		</section>


