
		<section>
			<h2>
				Water quality measurement boat
			</h2>
			<p>
			In the second semester, me and my project group were tasked to make a project about dealing with climate change. What we decided to do is to measure one of the symptoms of climate change, water quality. With knowing where the water quality is the worst one can find and deal with pollutants that affect water quality. 
			We focussed on <abbr title="Pollution of the enviroment with nitrogen based compounds">nitrification</abbr> of bodies of water. To measure that we first wanted to do in-situ spectrography but that plan failed because of complexity and lack of laser components. At the end we measured <abbr title="Acidity">pH</abbr>, while also connecting that data with a GPS coordinate. The pH probe can be seen on the side of the lunchbox hull of the boat. My role was mostly on the programming side, but I was also support for the electronics division. I ended up makin a simple processing program to read the data and output it into a file, and a significant portion of the code governing the boat itself. 
			</p>
			
			<footer>
				<small> We finished the project at the end of february<br>Posted on: 10-04-2022</small>
			</footer>
		</section>
		<section class="fitToContent">
			<img src="/static/img/droneboat.png"alt="The boat should be here"width="350">
		</section>
		<section>
			<video width="300"  alt="The boat video failed to load :{" controls>
				<source src="/static/img/dronevid.mp4"type="video/mp4">
				Something went wrong with the video. <i class="fa-solid fa-skull"></i>
			</video>
		</section>
			


