
	<section>
			<h2>Arduino controlled additive synthesizer</h2>
			<p>
			For this project I used a arduino to create an input device (I know it's barely visible). Using this arduino contraption I controlled a synthesizer that adds waves together to create a sound. Most of the sounds you can create with it sound horrendous, but others sound quite funky. You can also see all the waves graphically, including the final combined wave. This is where the program is the most interesting. If you can replicate the arduino device, you can <a class="InText" target="_blank" href="https://github.com/Wilkuu-2/ArduinoCreateStuffs/tree/main/6-Project">give it a try</a>.  
			</p>
			<footer>
				<small>I finished this around 15th of february<br>Posted on: 10-04-2022</small>
			</footer>
	</section>
	<section class="fitToContent">
		<video width="300px" controls>
			<source src="/static/img/synthvid.mp4"type="video/mp4">
		</video>
	</section>


