
	<section>
			<h2>Blender modelling and animation</h2>
			<p>
				This module we got to play around with blender. This is the result. A shoddily modeled liquid fueled boiler. The boiler part was not the best, but look at the top, the amber spits out the liquid. The liquid is what is supposed to fuel the boiler. (But it disappears in the funnel). The rendering took 4 hours on low settings. I had a lot of fun playing around with the materials of the amber and the funnel. I made them really contrast the rusty boiler. The brass accent along with all the stuff at the top gave it a refurbished look, as if the boiler was repurpused. At the end I am proud of this model and I hope I can use blender in the future.    
			</p>
			<footer>
				<small> The project was done on: 01-04-2022<br>Posted on: 10-04-2022</small>
			</footer>
	</section>
	<section>
		<video width ="100%" controls>
			<source src="/static/img/blenderVid.mp4">
		</video>
	</section>


