
	<section class="FlexColumn">
			<h2>Algorithms</h2>
			<p>
				In module 4, we were tasked with some more or less useful rogramming tasks. These ranged between making the 1,000,000th bouncing ball program and 
				making systems that created things like particles, swarms or vegetation. With the help of my partner for those assignments, we made a quick work of all the assignments. there is still a final project we need to complete, which requires more cooperation than us two currently exhibit.
			</p>
			<a href="https://github.com/Wilkuu-2/AlgorithmsProcessing">The project is available on github</a>
			<p>
				At this point I also feel extremely limited by Processing, which not only limits what API's are exposed to the user, but also makes all your classes inner classes. This causes that most modifiers don't work, for example the visibility modifiers. Another thing that breaks because of that is the static/modifier, which is even worse, since it makes it really confusing to where to put any helper functions that do not change state of any class.
				The restrictiveness of Processing is felt even more when you start actually writing java with the processing core imported instead.
				This makes all the classes you write proper classes, instead of being jammed in a <abbr title="A metaphorical jar, not to be confused with the java archive files">jar</abbr>  in form of the <abbr title="Yes, Processing transpiles the sketches into a single .java class file with the sketch name as the class name">transpiled sketch</abbr>. 
			</p>
			<div style="flex-grow: 1;">
			</div>
			<footer>
				<small> Last assignment finished on 21-06-2022 <br>Posted on: 21-06-2022</small>
			</footer>
	</section>
	<section class="FlexColumn">
		<img width="400px" style="margin: 10px;" src="/static//img/algorithmsEx0.png"alt="The image seems to be missing">
		<img width="400px" style="margin: 10px;" src="/static//img/algorithmsEx1.png"alt="The image seems to be missing">
		<img width="400px" style="margin: 10px;" src="/static//img/algorithmsEx2.png"alt="The image seems to be missing">
	</section>


