
	<section>
			<h2>Candidate sculpture for GogBot 2022</h2>
			<p> In module 4 of CreaTe we had a really free project topic. Our year is making candidate installations for the GogBot festival. What we came up with is a sculpture
				of a imposter Robocop-like entity. The entity has a screen where a questionaire is taken by the participant. This questionaire is designed to result in a
				social score, a parody of the Chinese social credit system. We are not yet done with this project </p>

			<footer>
				<small> The demo-day is in the first week of july.<br>Posted on: 21-06-2022</small>
			</footer>
	</section>
	<section class="fitToContent">
		<img width="300px" src="/static/img/M4Project0.png">
		<img width="300px" src="/static/img/M4Project1.png">
	</section>


