	<section>
			<h2>A GUI library for Processing</h2>
			
			After programming in processing for almost a year, I had a lot of ideas to extend the capability of Processing, because of how primitive the tools processing gives you are. 
			This resulted in a concept and later a really early implementation of a GUI framework for 
			Processing 4 based loosly on <a class="InText" href="https://www.qt.io/">QT</a>. There will be more to show later, after the academic year ends. 
			But the frawework is already published on <a class="InText" href="https://github.com/Wilkuu-2/WiGuiP4">Github</a>. So go check it out. 

			<footer>
				<small> This project is on-going but it is temporarily shelved at the time of writing<br>Posted on: 26-06-2022</small>
			</footer>
	</section>


