
	<section>
			<h2>Stone-run</h2>
                <p>
                    For module 5, I chose for making a game, instead of some nerdy electronics stuff. This means that one of the primary things I did that module
                    was making a game. The working name of this game is stone-run and it is a platformer game. The game is made in Unity and will have it's 
                    <abbr class="InText"title="At least for the purposes of the module">final</abbr> build will be released around 10th of november. After each major update I build the game in 
                    <a class="InText" href="https://en.wikipedia.org/wiki/WebGL">WebGL</a> and put it on this website. This means you can enjoy the game in the confort of your own browser, no downloads needed.
                </p>
                <a class="color-complement-3" style="margin: 10px;" href="./stone-run">Take me to the game already!</a>
                <div style="margin: 20px"></div>
                <footer>
				<small>The project started in september and is still ongoing. <br>Posted on: 30-10-2022</small>
			</footer>
	</section>
	<section class="fitToContent">
		<img src="/static/img/StoneRun.jpg">
	</section>


