
	<section>
			<h2>BackdropQT</h2>
                <p>
                    This is a small hobby project of mine. It uses the QT framework to load animated wallpapers. At this point those are only
                </p>

                <div style="margin: 10px">
                    <a class="color-complement-3" href="https://github.com/Wilkuu-2/BackdropQT">Github</a>
                </div>

			<footer>
				<small>I started the project in september. And I am still working on it. <br>Posted on: 30-10-2022</small>
			</footer>
	</section>
	<section class="fitToContent">
		<video width ="50%" muted autoplay loop>
			<source src="/static/img/backdrop.mp4">
            </video>
	</section>

 
