	<section>
			<h2>My own custom note-taking system</h2>
                <p>As a student, I take a lot of notes on the computer. But just writing down what the teacher says is not sufficient in most cases. For this I created a note taking system.</p>
                <p> It is designed based on how I remeber information the best, namely through:</p>
                <ul>
                    <li><i>Structuring</i> it into sections and a indication on what type of information it is.</li>
                    <li><i>Typing</i> the information</li>
                </ul>
                <p>It follows a quite clean nested list structure design, that makes searching through it easier.</p>
                <p>In addition to being really readable (at least for me), the process of writing in sections makes it easier to remember the content from just writing it down.</p>
                <p>This system is not designed for universal use, rather being focussed on Study Material, Concepts and Structures, for things like journalling a more classic system is more useful</p>
			<footer>
				<small> I started to design it at the beginning of September.<br>Posted on: 17-01-2023</small>
			</footer>
	</section>
	<section class="fitToContent">
		<img width="500" src="/static/img/WilkuuNotesEx.png">
	</section>


