
	<section>
			<h2>MediaPipe + Unity</h2>
			<p>For module 6 of Create we are making a interactive alarm clock that encourages one to move after being woken up. 
                It tracks the movement using the MediaPipe AI framewoke made by Google. MediaPipe is a framework that can detect objects and people from a single camera input.
                </p>
                <p>
                One of the biggest challenges was to make MediaPipe work in Unity, since making a error in the MediaPipe part of the code often resulted in everything crashing.
                That in addition of poor logging on part of the MediaPipe integration made it really hard to work with, but it finally succeded.
                </p>
                <h5>
                This experience taught me patience. 
                </h5>

			<footer>
				<small> We finished the project at the end of february<br>Posted on: 10-04-2022</small>
			</footer>
	</section>
	<section class="fitToContent">
		<img width="500"src="/static/img/Unity.png">
	</section>


