
	<section>
			<h2>Affoe</h2>
			<p>
            In order to see if developing games is something I want to pursue in the future. I, along with 2 friends, singed up for the Winter Game Jam of 2023.
            We created a masterpiece, and we called it Affoe. A Unity game we put together in 48 hours.  
            </p>
            <h5>
                <i>I definitely kept a healhy schedule</i>. 
            </h5>

			<footer>
				<small> The GameJam happened around the end of january.<br>Posted on: 05-04-2023</small>
			</footer>
	</section>
	<section class="fitToContent">
		<img width="500"src="/static/img/Affoe.png">
	</section>


