<div class="card-header row">	
		<h2>This website</h2>
</div>
    <div class="card-body row">
    <section class="col-md-6 col-lg-6">
			<p>
            This time, instead of adding more HTML and JS clutter to this website,
            i decided to build out a small backend for it. 
            </p><p>
            Since I have my own infrastructure it is possible to use whatever language for that.
            The server infrastructure provided by the university only allows php to my knowledge and then it is mostly just enough to run Wordpress.
            
            I chose <a class="InText" href="https://www.rust-lang.org/">Rust</a> for this task.
            </p>
            <p>
            Rust was one of the backend choices of all time, since it is slightly slower to write and is quite challenging in it's own respect.
            But, this is offset by the safety it brings.
            And because the website is exposed to the internet and will have a database of storing important stuff, this safety is a godsend.
            </p> 
            <p>
            So far I enjoy the experience. 
            </p>

			<footer>
				<small> Still in development to this day. <br>Posted on: 13-04-2023</small>
			</footer>
	</section>
	<section class="col-md-6 col-lg-6">
		<img src="/static/img/web_stack.png"class="w-100">
	</section>
    </div>
