<div class="row px-5 pt-2 mt-2 bg-dark justify-content-center">    
    <footer class="col-10 row border-top p-2 justify-content-between align-content-center">
        <div class="col-mb-auto mx-2">
            <div>
                Copyright 2023 Wilkuu
            </div> 
            <div>
                <a href="https://www.github.com/Wilkuu-2/website_warp">Website Github</a>
            </div>
        </div>
        <div class="col-mb-auto">
            Social Media
            <div class="row justify-content-center">
                <a class="fb col-sm-auto py-1 px-3 align-content-center" target="_blank" href="https://www.instagram.com/wilkuu_x/">
                        <i class="fa-brands fa-instagram logo"></i>
                </a>
                <a class="fb col-sm-auto py-1 px-3 align-content-center" target="_blank" href="https://www.twitter.com/wilkuu_">
                        <i class="fa-brands fa-twitter logo"></i>
                </a>
                <a class="fb col-sm-auto py-1 px-3 align-content-center" target="_blank" href="https://www.github.com/Wilkuu-2">
                        <i class="fa-brands fa-github logo"></i>
                </a>
                <a class="fb col-sm-auto py-1 px-3 align-content-center" target="_blank" href="https://www.linkedin.com/in/jakub-stachurski-95860822b/">
                        <i class="fa-brands fa-linkedin logo"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
