    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-1">
        <div class="ml-10 navbar-collapse p-0">
            <a class="navbar-brand justify-content-center" href="/">
                <img src="/static/img/logo_mono_light.svg"alt="Wilkuu"style="height: 2em; width: auto;">
                &nbsp;Wilkuu.xyz
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!--<li>
                    <a class="nav-link" href="/" ><i class="fa-solid fa-house icon"></i>&nbsp;Home</a>
                </li> -->
                <li>
                    <a class="nav-link" href="/portfolio/legacy"><i class="fa-solid fa-folder-open"></i>&nbsp;Portfolio</a>
                </li>
                <li>
                    <a class="nav-link" href="/profdev"><i class="fa-solid fa-circle-exclamation"></i>&nbsp;<i class="fa-solid fa-dumpster-fire"></i>&nbsp;ProfDev Challenge Module 8</a>
                </li>
            </ul>
        </div>
    </nav>
